@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);

body, input, button {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
}

body {
    padding: 20px;
    margin: 0;
}

h1 {
    font-size: 200%;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p {
    line-height: 1.2em;
    margin-bottom: 1em;
}

.map-container {
    width: 100%;
    height: 600px;
}

